body{
  font-family: Courier, Helvetica, Arial;  
}

#page{
  border:30px Dotted purple;
  padding: 20;
  height: 950px
  
}

#header{
  background-color: black;
  color: purple;
  width:669;
  border: 5px dotted purple;
}

#search {
  background-color: black;
  width: 526;
}

a{
  text-decoration: none;
  color: purple;
}

#nav ul{
  list-style-type: none;
  text-align: left;
  width: 80px;
  height:110;
  float:left;
  border: 3px dotted purple;
  background-color: black;
}

a:hover{
  color: orchid;
}

a: visited{
  color: #FF00FF;
}

#main{
  background-image: url();
  text-align: center;
  color: purple;
  background-color: black;
  float: right;
  width: 520px;
  height: 400px;
  margin: 16px;
  border: 3px dotted purple;
}
#other{
  width: 239px;
  height: 276px;
  float: right;
  margin: 15px;
  border: 15px dotted purple;
  background-color: black;
  color: purple;
  text-align: center;
}

#college{
  width: 212px;
  height: 290;
  float: right;
  margin: 15px;
  border: 8px dotted purple;
  background-color: black;
  color: purple;
  text-align: center;
}

#footer{
  clear: both;
	padding: 10px;
	background-color: black;
	color: purple;
	text-align: right;
  width: 649px;
}

